:root {
    --azul-principal: #0D4F9E;
    --roxo-claro: #bec0de;
    font: 1.3em sans-serif;
  }
* {
  padding: 0px;
  margin: 0px;
}
body {
    font-family: "segoe ui", sans-serif;
    background-color: var(--roxo-claro);
    color: whitesmoke;
  }
  header {
      background-color: var(--azul-principal);
      padding-top: 10px;
  }
 header > h2 {
     text-align: center;
     text-shadow: 3px 3px 3px rgba(0, 0, 0, 30%);
 } 
 main {
   color: black;
   background-color: whitesmoke;
   margin: auto;
   max-width: 800px;
   height: 100%;
   box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 30%);
   border-radius: 0px 0px 20px 20px;
 }
 article {
   padding: 10px;
 }
 article > h2 {
    text-align: center;
 }
 article p {
   margin: 20px 0px ;
   text-align: justify;
   text-indent: 15px;
 }
 article li{
   margin-left: 35px;
 }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 92px;
    left: 0;
    background-color: var(--azul-principal);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--roxo-claro);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: whitesmoke;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }